body {
  font-family: Arial, sans-serif;
  background: #1d1d25;
  color: #fff;
  font-size: 18px;
}

h1 {
  text-align: center;
}

#todo-form {
  display: flex;
  justify-content: center;
}

#todo-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

button[type="submit"] {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: lightgray;
  cursor: pointer;
}

li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
